@model Newse2.Models.LoginVM
@{
    ViewData["Title"] = "Авторизация";
}

    <form asp-controller="Access" asp-action="Login" method="post" align="center">
        <h1>Авторизация</h1>
        <br />
        
        <input type="email" placeholder="Логин" asp-for="Login" required/>
        <p> </p>
        <input type="password" placeholder="Пароль" asp-for="Password" required/>
         <p> </p>
        <label>
            <input type="checkbox" asp-for="RememberMe" />
            Запомнить меня на этом устройстве
        </label>
        <p> </p>
        <button type="submit" class="btn btn-info">Войти</button>
        <p> </p>
        <a asp-controller="Home" asp-action="Index">На главное меню</a>
        <p> </p>
        <a asp-controller="Access" asp-action="Register">Вы здесь впервые?</a>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }

    </form>


